$color-main: #bea67c;
$color-light: #fff;
$color-dark: #000;

$font-source: 'Source Sans 3', sans-serif;
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-semibold: 600;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: $color-dark;

  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
  }

  .section-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-left {
    color: $color-light;

    h4 {
      font-size: 18px;
      letter-spacing: 3px;
      margin-bottom: 5px;
      font-family: $font-source;
      font-weight: $font-weight-black;
    }

    p {
      font-size: 14px;
      letter-spacing: 3px;
      font-family: $font-source;
      font-weight: $font-weight-semibold;
    }
  }

  .section-right {
    display: flex;
    gap: 20px;

    a {
      color: gray;
      text-decoration: none;
      font-family: $font-source;
      font-weight: $font-weight-semibold;
      transition: color 0.3s;

      &:hover {
        color: $color-main;
      }
    }
  }
}
.header {
  position: relative;
  background-image: url(../images/background.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: $color-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
}
