@media (max-width: 768px) {
  .header {
    .title-header {
      align-items: center;
      text-align: center;

      .title-up,
      .title-down {
        font-size: 36px;
        letter-spacing: 4px;
      }

      .title-down {
        margin-left: 0;
      }

      &::after {
        width: 100px;
        bottom: -15px;
      }
    }

    div:last-child {
      p {
        font-size: 18px;
      }

      i {
        font-size: 16px;
      }
    }
  }

  .section-products {
    padding: 40px 15px;

    .container {
      max-width: 100%;

      h2 {
        font-size: 32px;
        letter-spacing: 5px;

        &::after {
          width: 200px;
          height: 3px;
          margin: 8px auto 0;
        }
      }
    }
  }

  .section-about {
    padding: 60px 15px;

    .container {
      .title-cards {
        font-size: 36px;
        letter-spacing: 6px;

        &::after {
          width: 200px;
          height: 3px;
        }
      }

      .text-about {
        gap: 24px;

        p {
          font-size: 15px;
          max-width: 90%;
        }

        .text-about-three {
          text-align: center;
          margin-right: 0;
        }
      }
    }
  }

  .card-products {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .card-single-product {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0px;

      .card-section {
        order: 0 !important;
        padding: 10px 0;
        width: 100%;
      }

      .card-right-one,
      .card-left-two,
      .card-right-three {
        min-height: 200px;
        background-position: center;
        background-size: cover;
        width: 100%;
      }

      .card-left-two,
      .card-right-one,
      .card-right-three {
        order: 1 !important;
        width: 100%;
        min-height: 250px;
        background-position: center;
        background-size: cover;
      }

      h3 {
        font-size: 20px;
        margin-bottom: 8px;
      }

      .description {
        font-size: 14px;
        margin-left: 20px;
      }

      .line {
        width: 100px;
        height: 2px;
      }
    }
  }

  .taste-caffe {
    font-size: 12px;
    gap: 15px;

    div {
      max-width: 150px;

      p:first-child {
        font-size: 12px;
      }

      p:last-child {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 480px) {
  .title-contact {
    font-size: 28px;
    letter-spacing: 5px;

    &::after {
      width: 180px;
    }
  }

  .form-contact {
    gap: 16px;

    label {
      font-size: 13px;
    }

    input,
    textarea {
      font-size: 14px;
    }

    button {
      font-size: 14px;
    }
  }
}
